{% load static %}
<html>
  <head>
    <title>Twitter</title>
    <link rel="stylesheet" type="text/css" href="{% static 'twitter/lib/bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'twitter/lib/bootstrap/dist/css/bootstrap-theme.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'twitter/main.css' %}">
  </head>
  <body>
      <div class="page-header nav-top">
        <ul class="nav nav-pills">
          {% if user.is_authenticated %}
            <li role="presentation" class="active">
              <a href="{% url 'tweet_list' %}">
                <span class="glyphicon glyphicon-home"></span>
                <span>Home</span></a>
            </li>
            <li role="presentation">
              <a href="#">
                <span class="glyphicon glyphicon-bell"></span>
                <span>Notifications</span></a>
            </li>
            <li role="presentation">
              <a href="{% url 'profile' %}">
                <span class="glyphicon glyphicon-user"></span>
                <span>Profile</span></a>
            </li>
            <li role="presentation">
              <a href="{% url 'add_tweet' %}">
                <span class="glyphicon glyphicon-edit"></span>
                <span>Tweet</span>
              </a>
            </li>

            <li>
              <a href="{% url 'logout' %}">Login Out</a>
            </li>
          {% else %}
            <li>
              <a href="{% url 'login' %}">Login In</a>
            </li>
          {% endif %}
        </ul>
      </div>
      <div class="content container">
        <div class="row">
          <div class="col-md-8">
              {% block main %}
              {%endblock %}
          </div>
        </div>
      </div>
  </body>
</html>
