{% extends './base.html' %}

{% load twitter_extras %}

{% block main %}
  {% if notification_list %}
    {% for item in notification_list %}
      
      <hr>
      <div>
        <span>@{{item.notify_user.username}}</span>
        <span>・</span>
        <span>{{item.notify_date|display_time}}</span>
      </div>
      <p>{{item.subtitle}}</p>

      {% if item.tweet %}
        {% with tweet=item.tweet %}
          {% if item.notified_type == 'M' or item.notified_type == 'Y' %}
              {{tweet.content}}
              {% include './tweet_icon.html' %}
              {% include './reply.html' %}
            {% else %}
              <div class="notificated-tweet">
                <div class="inner-notification">
                  <span>@{{tweet.author.username}}</span>
                  <p>{{tweet.content}}</p>
                </div>
              </div>
            {% endif %}
        {% endwith %}
        
      {% endif %}
      
    {% endfor %}

    {% include "./pagination.html" %}
  {% endif %}
{% endblock %}