{% if pagination_result.paginator.num_pages > 1 %}
  <div class="pagination">
    <span class="step-links">
      {% if pagination_result.has_previous %}
        <a href="?page={{pagination_result.previous_page_number}}">&lt;&lt;</a>
      {% endif %}
    </span>
    <span class="current">
      Page {{ pagination_result.number }} of {{ pagination_result.paginator.num_pages }}
      {% if pagination_result.has_next %}
        <a href="?page={{ pagination_result.next_page_number }}">&gt;&gt;</a>
      {% endif %}
    </span>
  </div>
{% endif %}