{% if request.user.username != visited_user.username %}
  {% if request.session.login_follow_visited %}
    <a href="{% url 'unfollow' visited_user.username %}">
      <button class="btn button-right button-unfollow">
          <span class="glyphicon glyphicon-minus"></span>
          Unfollow
        </button>
    </a>
  {% else %}
    <a href="{% url 'follow' visited_user.username %}">
      <button class="btn button-base-color button-right">
          <span class="glyphicon glyphicon-plus"></span>
          Follow
        </button>
    </a>
  {% endif %}
{% endif %}
<div>
  <ul class="nav nav-justified">
    <li>
      <a href="{% url 'profile' visited_user.username %}">
        TWEETS
        <br/>
        <span class="badge center">{{ request.session.tweet_num }}</span>
      </a>
    </li>
    <li>
      <a href="{% url 'following' visited_user.username %}">
        FOLLOWING
        <br/>
        <span class="badge">{{ request.session.following_num }}</span>
      </a>
    </li>
    <li>
      <a href="{% url 'follower' visited_user.username %}">
        FOLLOWERS
        <br/>
        <span class="badge">{{ request.session.follower_num }}</span>
      </a>
    </li>
    <li>
      <a href="{% url 'profile' visited_user.username %}">
        LIKES
        <br/>
        <span class="badge">{{ likes|length }}</span>
      </a>
    </li>
  </ul>
</div>