{% extends "./base.html" %}


{% block main %}
  <div>
    <ul class="nav nav-tabs nav-justified">
      <li>Tweets &nbsp; <span class="badge">{{ user.tweet_set.all|length }}</span></li>
      <li>FOLLOWING &nbsp; <span>{{ following|length }}</span></li>
      <li>LIKES &nbsp; <span>{{ likes|length }}</span></li>
    </ul>
  </div>
  <div>
    {% if tweets %}
      {% include "./tweet_list.html" %}
      {% include "./pagination.html" %}
    {% else %}
      <div class="jumbotron no-tweet">
        <h1>Hello, world!</h1>
        <p>No tweet yet!</p>
        <p>
          <a class="btn btn-primary btn-lg" href="{% url 'explore' %}" role="button">Explore</a>
        </p>
      </div>
    {% endif %}
  </div>
{% endblock %}