{% extends "./base.html" %}


{% block main %}
  <div>
    <ul class="nav nav-tabs nav-justified">
      <li>Tweets &nbsp; <span class="badge">{{ user.tweet_set.all|length }}</span></li>
      <li>FOLLOWING &nbsp; <span>{{ following|length }}</span></li>
      <li>LIKES &nbsp; <span>{{ likes|length }}</span></li>
    </ul>
  </div>
  <div>
    {% if tweets %}
      {% include "./tweet_list.html" %}
    {% else %}
      <a href="{% url 'add_tweet' %}">
        <button class="btn button-base-color">
          <span class="glyphicon glyphicon-edit"></span>
          <span>Tweet Now</span>
        </button>
      </a>
    {% endif %}
  </div>

  {% include "./pagination.html" %}

{% endblock %}