{% extends './base.html' %}

{% block main %}
  {% if user.is_authenticated %}
    {% if tweets%}
      {% for tweet in tweets %}
        <span>{{ tweet.author }}</span>
        <span>{{ tweet.created_date }}</span>
        <p>{{ tweet.context }}</p>
        <a href="#">
          <span clas="glyphicon glyphicon glyphicon-share"></span>
        </a>
        <a href="#">
          <span clas="glyphicon glyphicon-heart"></span>
        </a>
        <a href="#">
          <span clas="glyphicon glyphicon-retweet"></span>
        </a>
      {% endfor %}
    {% else %}
      <a href="#"><p>Explore</p></a>
    {% endif %}
  {% else %}
    <div>
      <h1>Hello, world!</h1>
      <p>Welcome to Twitter.</p>
      <p>
        <a class="btn btn-primary btn-lg" href="{% url 'login' %}" role="button">Login in</a>
      </p>
    </div>
  {% endif %}
{% endblock%}