{% for tweet in tweets %}
  {% with tweet.reply_set.all as replies %}
  {% with tweet.retweet_set.all as retweet %}
    {% with  forloop.counter as coun %}
      <div>
        <hr>
        {% include './tweet_details.html' %}

        <div class="row">
          <div class="col-sm-1">
            <a class="reply-icon" id="reply-icon-{{coun}}" data-counter={{coun}}>
              <span class="glyphicon glyphicon-share-alt"></span>
              {% if replies|length %}
                <small>{{ replies|length}}</small>
              {% endif %}
            </a>
          </div>

          <div class="col-sm-1">
            <a class="reply-icon" href="{% url 'retweet' tweet.id %}">
              <span class="glyphicon glyphicon-retweet"></span>
              {% if retweet|length %}
                <small>{{ retweet|length}}</small>
              {% endif %}
            </a>
          </div>
            
          <div class="col-sm-1">
            <a href="">
              <span class="glyphicon glyphicon-heart reply-icon"></span>
            </a>
          </div>
          <div class="col-sm-1">
            <a href="">
              <span class="glyphicon glyphicon-trash reply-icon"></span>
            </a>
          </div>
        </div>
      </div>

      <div class="reply-input" id="reply-input-{{coun}}">
        {% include './reply_form.html' %}
        {% include './reply_details.html' %}
      </div>

      
    {% endwith %}
  {% endwith %}
  {% endwith %}

{% endfor %}


