<div class="row">
  <div class="col-sm-1">
    <a class="tweet-icon reply-icon" id="reply-icon-{{coun}}" data-counter={{coun}}>
      <span class="glyphicon glyphicon-share-alt"></span>
      {% if tweet.replies %}
        <small>{{ tweet.replies|length }}</small>
      {% endif %}
    </a>
  </div>

  <div class="col-sm-1">
    {% if tweet.has_been_retweeded %}
      <a class="tweet-icon retweeted-icon" href="{% url 'unretweet' tweet.id %}">
        <span class="glyphicon glyphicon-retweet"></span>
        <small>{{tweet.retweet_num}}</small>
      </a>
    {% else %}
      <a class="tweet-icon" href="{% url 'retweet' tweet.id %}">
        <span class="glyphicon glyphicon-retweet"></span>
        {% if tweet.retweet_num %}
          <small>{{tweet.retweet_num}}</small>
        {% endif %}
      </a>
    {% endif %}
  </div>
    
  <div class="col-sm-1">
    {% if tweet.has_been_liked %}
      <a class="tweet-icon like-icon" href="{% url 'unlike' tweet.id %}">
        <span class="glyphicon glyphicon-heart"></span>
        <small>{{tweet.likes|length}}</small>
      </a>
    {% else %}
      <a class="tweet-icon" href="{% url 'like' tweet.id %}">
        <span class="glyphicon glyphicon-heart"></span>
        {% if tweet.likes %}
          <small>{{tweet.likes|length}}</small>
        {% endif %}
      </a>
    {% endif %}
    
  </div>
  <div class="col-sm-1">
    <a class="tweet-icon" href="{% url 'delete' tweet.id %}">
      <span class="glyphicon glyphicon-trash"></span>
    </a>
  </div>
</div>