{% load humanize %}

{% for tweet in tweets %}
  <div>
    <hr>
    <div>
      <span>@{{ tweet.author.username }}</span>
      <span>・</span>
      <small class="time">{{ tweet.created_date|naturaltime }}</small>
    </div>
    <p>{{ tweet.content }}</p>
    <div>
      <a href="">
        <span class="glyphicon glyphicon-share-alt reply-icon"></span>
      </a>
      <a href="">
        <span class="glyphicon glyphicon-retweet reply-icon"></span>
      </a>
      <a href="">
        <span class="glyphicon glyphicon-heart reply-icon"></span>
      </a>
      <a href="">
        <span class="glyphicon glyphicon-trash reply-icon"></span>
      </a>
    </div>
  </div>
{% endfor %}