{% load twitter_extras %}

{% if tweet.original_tweet %}
  <div>
    <span class="glyphicon glyphicon-retweet retweeted-icon"></span>
    <small>
      {{ visited_user.username }} Retweeted
    </small>
  </div>
{% endif %}


<div>
  {% if tweet.original_tweet %}
    <span>@{{ tweet.original_tweet.author.username }}</span>
  {% else %}
    <span>@{{ tweet.author.username }}</span>
  {% endif %}
  <span>・</span>
  <small class="time">{{ tweet.created_date|display_time }} ago</small>
  <p>{{ tweet.content }}</p>
</div>