.nav-top {
    margin: 10px;
}
.button-base-color {
    color: #fff;
    background-color: #428bca;
}
.button-right {
    float: right;
}

.no-tweet {
    margin: 40px;
}
.button-unfollow {
    color: white;
    background-color: #c61d1d;
}

.modal-title {
    display: inline-block;
}

.tweet-content {
    font-weight: 400;
}

.tweet-icon {
    padding-right: 40px;
    display: inline;
}
a.tweet-icon {
    text-decoration: none;
    color: #333;
}

a.tweet-icon:hover {
    color: #428bca;
    text-decoration: none;
}

a.retweeted-icon {
    color: #17bf63;
    text-decoration: none;
}
.retweeted-icon {
    color: #17bf63;
    text-decoration: none;
}

a.like-icon {
    color: #e0245e;
    text-decoration: none;
}


.reply-input {
    display: none;
}
.row-reply-input {
    margin-left: 0px;
}

input.message-text {
    height: 37px;
}

ul.reply-line li {
    position:relative;
    margin-bottom: 0;
    padding-bottom: 0.5em;
}
ul.reply-line li:after {
    content: '';
    position: absolute;
    left: -10px; adjust manually
    top: -30px;
}
ul.reply-line li:before {
    content: '';
    position: absolute;
    left: -14px;
    border-left: 2px solid #1da1f2;
    height: 100%;
    width: 1px;
}

ul.reply-line li:first-child:before {
    top: 30px;
}

ul.reply-line li:last-child:before {
    height: 34px;
}
