.nav-top {
    margin: 10px;
}
.button-base-color {
    color: #fff;
    background-color: #428bca;
}
.button-right {
    float: right;
}

.no-tweet {
    margin: 40px;
}
.button-unfollow {
    color: white;
    background-color: #c61d1d;
}

.modal-title {
    display: inline-block;
}

.tweet-content {
    font-weight: 400;
}

.tweet-icon {
    padding-right: 40px;
    display: inline;
}
a.tweet-icon {
    text-decoration: none;
    color: #333;
}

a.tweet-icon:hover {
    color: #428bca;
    text-decoration: none;
}

a.retweeted-icon {
    color: #17bf63;
    text-decoration: none;
}
.retweeted-icon {
    color: #17bf63;
    text-decoration: none;
}

a.like-icon {
    color: #e0245e;
    text-decoration: none;
}


.reply-input {
    display: none;
}
.row-reply-input {
    margin-left: 0px;
}

input.message-text {
    height: 37px;
}

ul.reply-items {
    margin-left: -3em;
    list-style-type: none;
}

ul.reply-items > li:first-child > .reply-header {
    background-color: #f4ede7;
}

.notificated-tweet {
    border: 1px solid #d7effd;
}
.inner-notification {
    padding-left: 1em;
    padding-top: 0.5em;
}