.nav-top {
    margin: 10px;
}
.button-base-color {
    color: #fff;
    background-color: #428bca;
}
.button-right {
    float: right;
}
.reply-icon {
    padding-right: 40px;
    display: inline;
}
.no-tweet {
    margin: 40px;
}
.button-unfollow {
    color: white;
    background-color: #c61d1d;
}

.modal-title {
    display: inline-block;
}

.tweet-content {
    font-weight: 400;
}

a.reply-icon {
    text-decoration: none;
    color: #333;
}
a.reply-icon:hover {
    color: #428bca;
}
.reply-input {
    display: none;
}
.row-reply-input {
    margin-left: 0px;
}

input.message-text {
    height: 37px;
}

.retweeted-icon {
    color: #17bf63;
}